* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 0 110px;
}

h1 {
  display: flex;
  justify-content: center;
}

h1,
p {
  font-family: "DM Sans", sans-serif;
}

.row {
  display: flex;
  justify-content: center;
}

.col-one-fourth {
  display: block;
  margin: 0 10px 10px;
}

img {
  max-height: 350px;
}

span {
  color: rgb(167 166 166);
}

span.highlighted {
  color: black;
  background: rgb(252 180 112);
}
